@model List<Models.EntityFramework.Order_detail>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Detail", "Order", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>
                <h2 class="card-title text-primary text-center">CHI TIẾT HÓA ĐƠN</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th class="text-center">
                                    Tên sản phẩm
                                </th>
                                <th class="text-center">
                                    Số lượng
                                </th>
                                <th class="text-center">
                                    Thành tiền
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        @item.Phones.Name_phone
                                        
                                    </td>
                                    <td class="text-center">
                                        @item.Sale_quantity
                                        
                                    </td>
                                    <td class="text-center">
                                        @item.Price                                      
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

