@model PagedList.IPagedList<Models.EntityFramework.Order>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon card-header-primary">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h2 class="card-title text-primary text-center">HÓA ĐƠN</h2>
        </div>
        @using (Html.BeginForm("Index", "Order", FormMethod.Get, new { @class = "navbar-form col-md-3 ml-auto" }))
        {
            <div class="input-group no-border">
                <input type="text" value="@ViewBag.SearchString" name="searchString" class="form-control" placeholder="Tìm kiếm...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </div>
        }
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <tr>
                            <th class="text-center">
                                Mã hóa đơn
                            </th>
                            <th class="text-center">
                                Ngày tạo
                            </th>
                            <th class="text-center">
                                Nơi nhận hàng
                            </th>
                            <th class="text-center">
                                Tên khách hàng
                            </th>
                            <th class="text-center">
                                SĐT khách hàng
                            </th>
                            <th class="text-center">
                                Email khách hàng
                            </th>
                            <th class="text-center">
                                Tổng tiền
                            </th>
                            <th class="text-center">
                                Chi tiết hóa đơn
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="text-center">
                                @item.Order_id
                            </td>
                            <td class="text-center">
                                @item.Create_date
                            </td>
                            <td class="text-center">
                                @item.Delivery_address
                            </td>
                            <td class="text-center">
                                @item.Customer.Customer_name
                            </td>
                            <td class="text-center">
                                @item.Customer.Customer_phone
                            </td>
                            <td class="text-center">
                               @item.Customer.Customer_mail
                            </td>
                            <td class="text-center">
                                @item.Total_price
                            </td>
                            <td class="td-actions text-center">
                                <a href="Order/Detail/@item.Order_id" class="btn btn-warning btn-link">
                                    <i class="material-icons">description</i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchstring = @ViewBag.SearchString }))
            </div>
        </div>
    </div>
</div>

