@model List<WebPhone.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int total = 0;
    var session = (UserLogin)Session[WebPhone.Common.CommonConstants.USER_SESSION];
}
@section jsFooter{
    <script src="~/Assets/client/js/controller/cartController.js"></script>
}
<div class="ecommerce">
    <div class="main main-raised">
        <div class="row">
            <div class="col-md-12">
                <center><h2>GIỎ HÀNG</h2></center>
            </div>
            <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                <div class="table-responsive">
                    <table class="table table-shopping">
                        <thead>
                            <tr>
                                <th class="th-description text-center text-primary">Mã sản phẩm</th>
                                <th class="th-description text-center text-primary">Tên sản phẩm</th>
                                <th class="th-description text-center text-primary">Ảnh sản phẩm</th>
                                <th class="th-description text-center text-primary">Số lượng</th>
                                <th class="th-description text-center text-primary">Đơn giá</th>
                                <th class="th-description text-center text-primary">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="td-number text-center">@item.Phones.Phones_id</td>
                                    <td class="td-name text-center">@item.Phones.Name_phone</td>
                                    <td class="text-center"><img src="@item.Phones.Image" width="100" /></td>
                                    <td class="td-number text-center">@item.Quantity</td>
                                    <td class="td-number text-center">@(item.Phones.Promotion_price.HasValue ? item.Phones.Promotion_price.GetValueOrDefault(0).ToString("N0") : item.Phones.Price.GetValueOrDefault(0).ToString("N0"))</td>
                                    <td class="td-number text-center">@(item.Phones.Promotion_price.HasValue ? (item.Phones.Promotion_price.GetValueOrDefault(0) * item.Quantity).ToString("N0") : (item.Phones.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                                    @if (item.Phones.Promotion_price.HasValue)
                                    {
                                        total += (item.Phones.Promotion_price.GetValueOrDefault(0) * item.Quantity);
                                    }
                                    else
                                    {
                                        total += (item.Phones.Price.GetValueOrDefault(0) * item.Quantity);
                                    }
                                    <td class="td-actions">
                                        <button id="btnDelete" data-id="@item.Phones.Phones_id" class="btn btn-link btn-danger" rel="tooltip" data-placement="top" data-original-title="Hoàn tác">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="3"></td>
                                <td class="text-right td-total">
                                    Tổng tiền:
                                </td>
                                <td class="text-left text-danger td-price">@total.ToString("N0")</td>
                                <td colspan="3" class="text-right">
                                    <button id="btnContinue" class="btn btn-primary">Tiếp tục mua hàng</button>
                                    @if (session != null)
                                    {
                                        <button id="btnPayment" class="btn btn-primary">Thanh toán</button>
                                    }
                                    else
                                    {
                                        <a href="/dang-nhap" class="btn btn-primary">Thanh toán</a>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

