@model List<Models.EntityFramework.Phones>
@{
    var category = (Models.EntityFramework.Category)ViewBag.Category;
    ViewBag.Title = category.Category_name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ecommerce">
    <div class="main main-raised">
        <div class="section">
            <div class="container-fluid">
                <h2 class="section-title">@category.Category_name</h2>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        var url = "/san-pham/" + @item.Meta_title + "-" + @item.Phones_id;
                        <div class="col-md-4">
                            <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                                <div class="card-header card-header-image">
                                    <a href="@url">
                                        <img src="@item.Image" alt="@item.Name_phone">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a href="@url">
                                        <h4 class="card-title">@item.Name_phone</h4>
                                    </a>
                                </div>
                                <div class="card-footer justify-content-center">
                                    <div class="price-container">
                                        <span class="price">@(item.Price.HasValue?@item.Price.Value.ToString("N0"):"Liên hệ")</span>
                                    </div>
                                    <button class="btn btn-danger btn-link btn-fab btn-fab-mini" rel="tooltip" data-placement="bottom" data-original-title="Thêm vào giỏ">
                                        <i class="material-icons">add_shopping_cart</i>
                                    </button>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>