@model Models.EntityFramework.Phones
@{
    ViewBag.Title = Model.Name_phone;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var product = (Models.EntityFramework.Phones)ViewBag.Product;
    var relatedProducts = (List<Models.EntityFramework.Phones>)ViewBag.RelatedProducts;
}
<div class="product-page">
    <div class="container">
        <div class="main main-raised main-product">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="tab-content">
                        @foreach (var item in relatedProducts)
                        {
                            var url = "/chi-tiet/" + item.Meta_title + "-" + item.Phones_id;
                        }
                            <div class="tab-pane" id="product-page1">
                                <img src="@Model.Image">
                            </div>
                            <div class="tab-pane active" id="product-page2">
                                <img src="@Model.Image">
                            </div>
                            <div class="tab-pane" id="product-page3">
                                <img src="@Model.Image">
                            </div>
                            <div class="tab-pane" id="product-page4">
                                <img src="@Model.Image">
                            </div>                    
                    </div>
                    <ul class="nav flexi-nav" data-tabs="tabs" id="flexiselDemo1">
                        <li class="nav-item">
                            <a href="#product-page1" class="nav-link" data-toggle="tab">
                                <img src="@Model.Image">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#product-page2" class="nav-link" data-toggle="tab">
                                <img src="@Model.Image">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#product-page3" class="nav-link" data-toggle="tab">
                                <img src="@Model.Image">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#product-page4" class="nav-link" data-toggle="tab">
                                <img src="@Model.Image">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h2 class="title"> @Model.Name_phone </h2>
                    <h3 class="main-price text-danger">@(Model.Promotion_price.HasValue? Model.Promotion_price.Value.ToString("N0"): Model.Price.Value.ToString("N0"))</h3>
                    <div>
                        <div class="card card-collapse">
                            <div class="card-header">
                                <a aria-expanded="true">
                                    Màn hình & hệ điều hành
                                </a>
                            </div>
                            <div class="card-body">
                                @Model.Screen, @Model.Operating_system
                            </div>
                        </div>
                        <div class="card card-collapse">
                            <div class="card-header">
                                <a aria-expanded="true">
                                    Camera trước & camera sau
                                </a>
                            </div>
                            <div class="card-body">
                                @Model.Front_camera, @Model.Rear_camera
                            </div>
                        </div>
                        <div class="card card-collapse">
                            <div class="card-header">
                                <a aria-expanded="true">
                                    Chip & ram & sim
                                </a>
                            </div>
                            <div class="card-body">
                                @Model.Chip, @Model.Ram, @Model.Sim
                            </div>
                        </div>
                        <div class="card card-collapse">
                            <div class="card-header">
                                <a aria-expanded="true">
                                    Pin & sạc
                                </a>
                            </div>
                            <div class="card-body">
                                @Model.Pin, @Model.Charger
                            </div>
                        </div>
                    </div>                    
                    <div class="row pull-right">
                        <a href="/them-gio-hang?productId=@Model.Phones_id&quantity=1" class="btn btn-primary">Thêm vào giỏ &#xA0;<i class="material-icons">shopping_cart</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>