@model Models.EntityFramework.Comment
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var session = (UserLogin)(Session[WebPhone.Common.CommonConstants.USER_SESSION]);
}
<div class="col-md-6 ml-auto mr-auto">
    <div class="card card-contact card-raised">
        @using (Html.BeginForm("Create", "Contact", FormMethod.Post))
        {
            <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Liên hệ</h4>
            </div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                @if (ViewBag.Success != null)
                {
                    <div class="alert alert-success">@ViewBag.Success</div>
                }
                <div class="row">
                    <div class="col-md-6">
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">phone</i>
                            </div>
                            <div class="description">
                                <h5 class="info-title">Số điện thoại</h5>
                                <p>
                                    Võ Tấn Lộc
                                    <br> 0789100065
                                    <br> Thứ 2 - 7, 8:00-22:00
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">pin_drop</i>
                            </div>
                            <div class="description">
                                <h5 class="info-title">Địa chỉ</h5>
                                <p>
                                    Biên Hòa, Đồng Nai
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group label-floating is-empty has-primary bmd-form-group">
                            <label class="bmd-label-floating">Tên tài khoản</label>
                            <br />
                            @Html.EditorFor(model => model.Full_name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @Value = @session.UserName } })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating is-empty has-primary bmd-form-group">
                            <label class="bmd-label-floating">Số điện thoại</label>
                            <br />
                            @Html.EditorFor(model => model.Phone_number, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @Value = @session.UserPhone } })
                        </div>
                    </div>
                </div>
                <div class="form-group label-floating has-primary is-empty bmd-form-group">
                    <label class="bmd-label-floating">Yêu cầu</label>
                    @Html.EditorFor(model => model.Comment_content, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                </div>
            </div>
            <div class="card-footer justify-content-between">
                <button type="submit" class="btn btn-primary">Gửi yêu cầu</button>
            </div>
        }
    </div>
</div>