@model PagedList.IPagedList<Models.EntityFramework.User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon card-header-primary">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h2 class="card-title text-primary text-center">NGƯỜI DÙNG</h2>
            <a href="/Admin/User/Create" class="btn btn-info btn-link">
                <i class="material-icons">add</i>
                Thêm người dùng
            </a>
        </div>
        @using (Html.BeginForm("Index", "User", FormMethod.Get, new { @class = "navbar-form col-md-3 ml-auto" }))
        {
            <div class="input-group no-border">
                <input type="text" value="@ViewBag.SearchString" name="searchString" class="form-control" placeholder="Tìm kiếm...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </div>
        }
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <tr>
                            <th class="text-center">
                                Tên tài khoản
                            </th>
                            <th class="text-center">
                                Mật khẩu
                            </th>
                            <th class="text-center">
                                Tên
                            </th>
                            <th class="text-center">
                                Chức năng
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    @item.Username
                                </td>
                                <td class="text-center">
                                    @item.Password
                                </td>
                                <td class="text-center">
                                    @item.Name
                                </td>                              
                                <td class="td-actions text-center">
                                    <a href="User/Edit/@item.User_id" class="btn btn-success btn-link">
                                        <i class="material-icons">edit</i>
                                    </a>

                                    <a href="User/Delete/@item.User_id" class="btn btn-danger btn-link">
                                        <i class="material-icons">close</i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchstring = @ViewBag.SearchString }))
            </div>
        </div>
    </div>
</div>



